<div class="hero-section">
  <div >
    <h1>ברוכים הבאים לניהול הקורסים שלנו</h1>
    <p>פלטפורמה מתקדמת לניהול, צפייה והרשמה לקורסים אונליין</p>
    <button class="cta-button" (click)="onStartClick()">התחל עכשיו</button>
  </div>
</div>

<div class="features">
  <div class="feature-card">
    <mat-icon>add_circle_outline</mat-icon>
    <h3>הוספת קורס</h3>
    <p>מורים יכולים להוסיף קורסים חדשים ולהזין פרטי שיעורים.</p>
  </div>
  <div class="feature-card">
    <mat-icon>delete_outline</mat-icon>
    <h3>מחיקת קורס</h3>
    <p>מורים יכולים להסיר קורסים שאינם פעילים יותר.</p>
  </div>
  <div class="feature-card">
    <mat-icon>edit</mat-icon>
    <h3>עריכת שיעור</h3>
    <p>אפשרות לעדכן ולערוך תוכן שיעורים בקורס.</p>
  </div>
  <div class="feature-card">
    <mat-icon>play_circle_outline</mat-icon>
    <h3>צפייה בשיעורים</h3>
    <p>תלמידים יכולים לצפות בשיעורים מוקלטים אונליין.</p>
  </div>
  <div class="feature-card">
    <mat-icon>exit_to_app</mat-icon>
    <h3>עזיבת קורס</h3>
    <p>תלמידים יכולים לעזוב קורסים שאינם מעוניינים בהם.</p>
  </div>
</div>

